<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.SysMenuMapper">
    <resultMap id="baseResult" type="SysMenu">
        <id property="menuId" column="menu_id"/>
        <result property="menuName" column="menu_name"/>
        <result property="parentName" column="parent_name"/>
        <result property="parentId" column="parent_id"/>
        <result property="orderNum" column="order_num"/>
        <result property="path" column="path"/>
        <result property="component" column="component"/>
        <result property="isFrame" column="is_frame"/>
        <result property="isCache" column="is_cache"/>
        <result property="menuType" column="menu_type"/>
        <result property="visible" column="visible"/>
        <result property="status" column="status"/>
        <result property="perms" column="perms"/>
        <result property="icon" column="icon"/>
    </resultMap>
    <select id="selectMenuTreeAll" resultMap="baseResult">
        SELECT DISTINCT sm.menu_id,
                        sm.parent_id,
                        sm.menu_name,
                        sm.path,
                        sm.component,
                        sm.visible,
                        sm.status,
                        sm.status,
                        sm.is_frame,
                        sm.is_cache,
                        sm.menu_type,
                        sm.icon,
                        sm.order_num,
                        sm.create_time
        FROM sys_menu sm
        WHERE sm.menu_type in ('M', 'C')
          AND sm.status = '0'
        ORDER BY sm.parent_id, sm.order_num
    </select>
    <select id="getSysMenuList" parameterType="SysMenu" resultMap="baseResult">
        SELECT *
        FROM sys_menu
    </select>
    <insert id="insert" parameterType="SysMenu">
        INSERT INTO sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null and menuId > 0">menu_id,</if>
            <if test="parentId != null and parentId >=0">parent_id,</if>
            <if test="menuName != null and menuName != ''">menu_name,</if>
            <if test="orderNum != null and orderNum != ''">order_num,</if>
            <if test="path != null and path != ''">path,</if>
            <if test="component != null and component != ''">component,</if>
            <if test="isFrame != null and isFrame != ''">is_frame,</if>
            <if test="isCache != null and isCache != ''">is_cache,</if>
            <if test="menuType != null and menuType != ''">menu_type,</if>
            <if test="visible != null and status != ''">visible,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="perms != null and perms != ''">perms,</if>
            <if test="icon != null and icon != ''">icon,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null and menuId > 0">#{menuId},</if>
            <if test="parentId != null and parentId >=0">#{parentId},</if>
            <if test="menuName != null and menuName != ''">#{menuName},</if>
            <if test="orderNum != null and orderNum != ''">#{orderNum},</if>
            <if test="path != null and path != ''">#{path},</if>
            <if test="component != null and component != ''">#{component},</if>
            <if test="isFrame != null and isFrame != ''">#{isFrame},</if>
            <if test="isCache != null and isCache != ''">#{isCache},</if>
            <if test="menuType != null and menuType != ''">#{menuType},</if>
            <if test="visible != null and status != ''">#{visible},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="perms != null and perms != ''">#{perms},</if>
            <if test="icon != null and icon != ''">#{icon},</if>
        </trim>
    </insert>
    <delete id="deleteByMenuId" parameterType="Long">
        DELETE
        FROM sys_menu
        WHERE menu_id = #{menuId}
    </delete>
    <select id="getSysMenuListByUserId" parameterType="SysMenu" resultMap="baseResult">
        SELECT DISTINCT sm.menu_id,
        sm.parent_id,
        sm.menu_name,
        sm.path,
        sm.component,
        sm.visible,
        sm.status,
        sm.perms,
        sm.is_frame,
        sm.is_cache,
        sm.menu_type,
        sm.icon,
        sm.order_num,
        sm.create_time
        FROM sys_menu sm
        LEFT JOIN sys_role_menu srm on sm.menu_id = srm.menu_id
        LEFT JOIN sys_user_role sur on srm.role_id = sur.role_id
        LEFT JOIN sys_role sr on sur.role_id = sr.id
        WHERE sur.user_id = #{params.userId}
        <if test="menuName != null and menuName != ''">AND sm.menu_name like concat('%', #{menuName},'%')</if>
        <if test="visible != null and visible != ''">AND sm.visible = #{visible]}</if>
        <if test="status != null and status != ''">AND sm.status = #{status}</if>
        ORDER by sm.parent_id,sm.order_num
    </select>
    <select id="getSysMenuListByRoleId" resultType="Integer">
        SELECT sm.menu_id
        FROM sys_menu sm
        LEFT JOIN sys_role_menu srm on sm.menu_id = srm.menu_id
        WHERE srm.role_id = #{roleId}
        <if test="menuCheckStrictly">AND sm.menu_id NOT IN(SELECT sm.parent_id FROM sys_menu sm INNER JOIN sys_role_menu
            srm ON sm.menu_id = srm.menu_id AND srm.role_id = #{roleId})
        </if>
        ORDER by sm.parent_id,sm.order_num
    </select>
</mapper>