<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.mapper.SysUserRoleMapper">
    <select id="getSysRoleIdsByUserId" parameterType="Long" resultType="Integer">
        SELECT role_id
        FROM sys_user_role
        WHERE user_id = #{userId}
    </select>
    <insert id="insertBatch">
        INSERT INTO sys_user_role(user_id, role_id)
        VALUES
        <foreach item="item" collection="list" index="index" separator=",">
            (#{item.userId},#{item.roleId})
        </foreach>
    </insert>
    <delete id="deleteSysUserRoleByUserId" parameterType="Long">
        DELETE
        FROM sys_user_role
        WHERE user_id = #{userId}
    </delete>
    <select id="queryRoleSetByUsername" parameterType="String" resultType="String">
        SELECT sr.key
        FROM sys_role sr
                 LEFT JOIN sys_user_role sur on sr.id = sur.role_id
                 LEFT JOIN sys_user su on sur.user_id = su.id
        WHERE su.username = #{username}
    </select>
    <delete id="deleteSysUserRoleByRoleId" parameterType="Long">
        DELETE
        FROM sys_user_role
        WHERE role_id = #{roleId}
    </delete>
</mapper>